<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>05-HomeWork-Delegates.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9F85C111E10586B00A11B28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9F85C2A1E10586C00A11B28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9F85C351E10586C00A11B28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
